.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button_green {
  background-color: white;
  color: black;
  border: 2px solid forestgreen;
}

.button_green:hover {
  background-color: forestgreen;
  color: white;
}

.button_blue {
  background-color: white;
  color: black;
  border: 2px solid dodgerblue;
}

.button_blue:hover {
  background-color: dodgerblue;
  color: white;
}

.button_red {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button_red:hover {
  background-color: red;
  color: white;
}

.blue {
    color:dodgerblue;
}

.red {
    color:red;
}

.inline {
  display: inline;
}

#choose_team {
    cursor: pointer;
}
