{% extends "index.html" %}

{% block content %}
<div id='users'>
    {% for player in data.players.keys() %}
    <b>{{ player }}</b> -
    <div class="inline" id="{{ player }}">
        {% if data.players[player] %}
            team <div class="inline {{ data.players[player] }}">{{ data.players[player] }}</div>
        {% else %}
            Choose team!
        {% endif %}
    </div><br>
    {% endfor %}
</div>

<hr>

<div>
    <form class="row_space" id="choose_team">
        <button class="button button_red" type="submit" name="team" value="red">Red Team</button>
        <button class="button button_blue" type="submit" name="team" value="blue">Blue Team</button>
    </form>
</div>

<hr>

{% if host %}
    <div align="center" id="next_button">
        {% if data.all_chosen %}
            <button class="button button_green">Next</button>
        {% endif %}
    </div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://" + "{{ ip }}" + ":5000");

    document.getElementById("choose_team").onclick = function(e){
        e.preventDefault();
        socket.emit('choose_team', {
            choice: e.target.value,
            username: "{{ username }}",
            room: "{{ room }}"
        });
    };

    socket.on('display_team_choice', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById(data.username).innerHTML =
            `team <div class="inline ${data.choice}"><b>${data.choice}</b></div>`;
        };
    });

    socket.on('display_next_button', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById("next_button").innerHTML =
            `<button class="button button_green">Next</button>`;
        };
    });

    socket.on('redirect_enter_words', function(data) {
        if (data.room == "{{ room }}") {
            window.location.href = "/enterwords/{{ room }}/{{ username }}/{{ host }}";
        };
    });

    document.getElementById("next_button").onclick = function(e){
        e.preventDefault();
        socket.emit('enter_words', {
            room: "{{ room }}"
        });
    };
</script>
{% endblock %}
