{% extends "index.html" %}

{% block content %}
<div class="heading">
  <h1 class="heading__title">Enter {{ data.num_words }} words on the cards below.</h1>
  <p>Only <b>nouns</b> and <b>adjectives</b> allowed.</p>
</div>

<form id="submit_words" autocomplete="off" action="/submit_words" method="POST">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <input name='username' type='hidden' value='{{ username }}'>
    <input name='room' type='hidden' value='{{ room }}'>
    <div class="cards">
    {% for i in range(data.num_words) %}
        <div class="card card-{{i+1}}">
          <h2 class="card__title"><input class="transparent" type="text" name="word{{i}}" required></h2>
        </div>
    {% endfor %}
    </div>

    <div align="center" id="next_button">
        <button type="submit" class="button button_green">Next</button>
    </div>
</form>

{% endblock %}
