{% extends "index.html" %}


{% block content %}

<div id="words_left" class="">
    There are {{ data.words|length }} words in the hat.
</div>

<div class="">
    Score:
</div>
<div id="score" class='row_space'>
    <div class="">
        Red Team - {{ data.score[0] }} points
    </div>
    <div class="">
        {{ data.score[1] }} points - Blue Team
    </div>
</div>

<div id="counter" class="">

</div>

<div id="content">
    <div id="word">

    </div>
    <div class="row_space">
        <button id="guessed" class="button button_green" type="button">Next</button>
        <button id="previous" class="button button_blue" type="button">Previous Word</button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://" + "{{ ip }}" + ":5000");

    var counter = 10;

    var myfunc = setInterval(function() {

        document.getElementById("counter").innerHTML = `${counter}`;
        counter --;
        if (counter < 0) {
            socket.emit('player_switch', {
                'room': "{{ room }}"
            });
            window.location.href = "/waiting/{{ room }}/{{ username }}";
        };
    }, 1000);

    socket.on('connect', function() {
        socket.emit('show_first_word', {
            'room': "{{ room }}"
        });
    });

    document.getElementById("guessed").onclick = function() {
        socket.emit('get_next_word', {
            'room': "{{ room }}",
            'username': "{{ username }}"
        });
    };

    document.getElementById("previous").onclick = function() {
        socket.emit('get_prev_word', {
            'room': "{{ room }}"
        });
    };

    socket.on('set_next_word', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById("word").innerHTML = `${data.word}`;
        };
    });

    socket.on('redirect_waiting', function(data) {
        if (data.room == "{{ room }}" && data.username == "{{ username }}") {
            window.location.href = "/waiting/{{ room }}/{{ username }}";
        };
    });

    socket.on('update_stats', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById("words_left").innerHTML =
                `There are ${data.num_words} words in the hat.`;
            document.getElementById("score").innerHTML =
                `<div class="">
                    Red Team - ${ data.score[0] } points
                </div>
                <div class="">
                    ${ data.score[1] } points - Blue Team
                </div>`;
        };
    });
</script>

{% endblock %}
