{% extends "index.html" %}

{% block content %}
<div id='users'>
    {% for user in users.keys() %}
    <b>{{ user }}</b> -
    <div class="inline" id="{{ user }}">
        {% if users[user]['team'] %}
            team <div class="inline {{ users[user]['team'] }}">{{ users[user]['team'] }}</div>
        {% else %}
            Choose team!
        {% endif %}
    </div><br>
    {% endfor %}
</div>

<div>
    <form id="choose_team">
        <button class="button button_red" type="submit" name="team" value="red">Red Team</button>
        <button class="button button_blue" type="submit" name="team" value="blue">Blue Team</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    document.getElementById("choose_team").onsubmit = function(e){
        e.preventDefault();
        socket.emit('choose_team', {
            choice: e.submitter.value,
            username: "{{ username }}",
            room: "{{ room }}"
        });
    };

    socket.on('display_team_choice', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById(data.username).innerHTML =
            `team <div class="inline ${data.choice}">${data.choice}</div>`;
        };
    })
</script>
{% endblock %}
