{% extends "index.html" %}

{% block content %}
<div>
    Welcome <i>{{ username }}</i>!
</div>

<form id="host" action="{{ url_for('new_lobby', username=username) }}" method="get">
    <button class="button button1" type="submit">Host Game</button><br>
</form>

<br><br>
...or if you have a room code:<br>

<form action="{{ url_for('join', username=username) }}">
    <input type="text" name="room" placeholder="Enter room code"><br>
    <br>
    <button class="button button2" type="submit">Join Game</button>
</form>

{% endblock %}
