{% extends "index.html" %}

{% block content %}
<div>
    Welcome <i>{{ username }}</i>!
</div>

<form action="/new_lobby" method="POST">
    <input name='username' type='hidden' value='{{ username }}'>
    <button class="button button_green" type="submit">Host Game</button><br>
</form>

<br><hr><br>
...or if you have a room code:<br>

<form action="/join" method="POST">
    <input name='username' type='hidden' value='{{ username }}'>
    <input type="text" name="room" placeholder="Enter room code"><br>
    <br>
    <button class="button button_blue" type="submit">Join Game</button>
</form>

{% endblock %}
