<!doctype html>
<html>
  <head>
    <title>Biletzele</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="main">
      <a href="/index"><h1>Biletzele</h1></a>
      {% block content %}
      <form action="/home" method="POST">
          <input type="text" name="username" placeholder="Enter username"><br>
          <br>
          <button class="button button_green" type="submit">Next</button>
      </form>
      {% endblock %}
    </div>

  </body>
</html>
