{% extends "index.html" %}

{% block content %}
<div>
    <label>Share the room ID with all other players:</label><br>
    <b>{{ room }}</b>
</div>

<hr>

<div class='row_space'>
  <div id='players'></div>
  <div>
      <form id='leave' action='/home/{{ username }}'>
          <button class="button button_blue" type="submit">Exit Room</button>
      </form>
  </div>
</div>


<hr>

{% if host %}

<div>
    <form >
        <button id='start' class="button button_green" type="submit">Start</button>
    </form>
</div>
{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });
    });

    socket.on('update_user_list', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById('players').innerHTML = '';
            const players = JSON.parse(data.players);
            for (let i=0; i<players.length; i++) {
                const newNode = document.createElement('div');
                newNode.innerHTML = `<b>${players[i]}</b> is in the room`;
                document.getElementById('players').appendChild(newNode);
            };
        };
    });

    socket.on('redirect_choose_team', function(data) {
        if (data.room == "{{ room }}") {
            window.location.href = "/chooseteam/{{ room }}/{{ username }}/{{ host }}";
        };
    });

    document.getElementById("start").onclick = function(e) {
        e.preventDefault();
        socket.emit('choose_teams', {
            room: "{{ room }}"
        });
    };

    document.getElementById("leave").onclick = function() {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });
    };

</script>
{% endblock %}
