{% extends "index.html" %}

{% block content %}
<div>

</div>

<div id="words_left" class="">
    There are {{ data.words|length }} words in the hat.
</div>

<div class="">
    Score:
</div>
<div class='row_space'>
    <div class="">
        Red Team - {{ data.teams[0].score }} points
    </div>
    <div class="">
        {{ data.teams[1].score }} points - Blue Team
    </div>
</div>

<div id='content'>

</div>

<form action="/game/{{ room }}/{{ username }}" method="POST">
    <div align="center" id="next_button">

    </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://" + "{{ ip }}" + ":5000");

    socket.on('connect', function() {
        socket.emit('another_player_join', {
            'room': "{{ room }}"
        });
    });

    socket.on('update_word_count', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById("words_left").innerHTML =
            `There are ${data.num_words} words in the hat.`;
        };
    });

    socket.on('update_waiting', function(data) {
        if (data.room == "{{ room }}" && data.username != "{{ username }}") {
            var color = "{{ data.players[username] }}";
            document.getElementById("content").innerHTML =
                `${data.username} is about to start picking for team ${color}.<br>
                 Pay attention to what they say or do.`;
        };
    });


    socket.on('display_next_button', function(data) {
        if (data.room == "{{ room }}" && data.username == "{{ username }}") {
            document.getElementById("next_button").innerHTML =
            `<button type='submit' class="button button_green">Next</button>`;
        };
    });

    document.getElementById("next_button").onclick = function(e){
        socket.emit('player_action', {
            'room': "{{ room }}",
            'username': "{{ username }}"
        });
    };
</script>

{% endblock %}
