{% extends "index.html" %}

{% block content %}
<div>

</div>

<div id="words_left" class="">
    There are {{ data.words|length }} words in the hat.
</div>

<div class="">
    Score:
</div>
<div id="score" class='row_space'>
    <div class="">
        Red Team - {{ data.score[0] }} points
    </div>
    <div class="">
        {{ data.score[1] }} points - Blue Team
    </div>
</div>

<div id='content'>

</div>

<form action="/game/{{ room }}/{{ username }}" method="POST">
    <div align="center" id="next_button">

    </div>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://" + "{{ ip }}" + ":5000");

    socket.on('connect', function() {
        socket.emit('join_waiting', {
            'room': "{{ room }}"
        });
    });

    socket.on('update_stats', function(data) {
        if (data.room == "{{ room }}") {
            document.getElementById("words_left").innerHTML =
                `There are ${data.num_words} words in the hat.`;
            document.getElementById("score").innerHTML =
                `<div class="">
                    Red Team - ${ data.score[0] } points
                </div>
                <div class="">
                    ${ data.score[1] } points - Blue Team
                </div>`;
        };
    });

    socket.on('display_next', function(data) {
        if (data.room == "{{ room }}" && data.username == "{{ username }}") {
            document.getElementById("next_button").innerHTML =
                `<button type='submit' class="button button_green">Next</button>`;
            document.getElementById("content").innerHTML = ``;
        };
    });

    socket.on('info_waiting', function(data) {
        if (data.room == "{{ room }}" && data.username != "{{ username }}") {
            document.getElementById("content").innerHTML =
                `${data.username} is about to start picking for team ${data.color}.<br>
                 Pay attention to what they say or do.`;
        };
    });


</script>

{% endblock %}
